@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 243, 244, 246;
  --background-start-rgb: 3, 7, 18;
  --background-end-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
  min-height: 100vh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 3px;
}

@layer base {
  input, textarea, select {
    @apply bg-gray-800 border-gray-700 text-gray-100 rounded-lg;
  }

  input:focus, textarea:focus, select:focus {
    @apply outline-none ring-2 ring-blue-500 border-transparent;
  }
}
